/* Переменные для цветов */
:root {
  --primary-color: #3498db;
  --secondary-color: #1F2A44;
  --background-color: rgb(47, 52, 56);
  --hover-color: #3c4042;
  --button-color: #ff9900;
  --text-color: white;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-hover-color: #ff7f00;
  --button-active-color: #e67e00;
}

/* Сброс стилей и базовые настройки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-style: normal;
  font-size: 14px;
}

/* Хедер */
.header {
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-attachment: fixed; /* Параллакс */
}

/* Заголовок */
h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* Контент */
#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}

/* Информация о пользователе */
.user-info {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info span {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Список продуктов */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.product-item {
  display: flex;
  align-items: center;
  background-color: #2c3e50;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-item span {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Кнопки внизу */
.icon-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(52, 63, 74);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon-buttons button {
  background-color: #211f1f;
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon-buttons button:hover {
  background-color: var(--hover-color);
  transform: scale(1.1);
}

.icon-buttons img {
  width: 30px;
  height: 30px;
}

/* Кнопки */
button {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

button:active {
  background-color: #1f6f8b;
}

/* Админский цвет */
#adm {
  color: #e1ff00;
}

/* Детали продукта */
.product-details {
  text-align: center;
  padding: 20px;
}

.product-details img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.product-details button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-details button:hover {
  background-color: var(--button-hover-color);
}

/* Уведомления */
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 4px 6px var(--shadow-color);
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Кнопка корзины */
.cart-button {
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--text-color);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

.cart-button:active {
  background-color: var(--button-active-color);
  transform: scale(1);
}

/* QR код */
#qr-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#qr-content img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

#qr-content img:hover {
  transform: scale(1.05);
}
